<div *ngIf="dorm != null" class="">
    <h1 class="text-center mt-4 display-4">{{ dorm.name.official }}</h1>
    <div class="slideshow d-flex justify-content-center mt-5 mb-4">
        <div class="fade" [ngStyle]="{ 'display': slides[0] }">
            <img [src]="img[0]" class="slides shadow">
        </div>
        <div class="fade" [ngStyle]="{ 'display': slides[1] }">
            <img [src]="img[1]" class="slides shadow">
        </div>
    </div>

    <div class="d-flex d-flex flex-column flex-lg-row justify-content-around align-items-center w-100 gap-3">
        <div class="bg-grey rooms shadow">
            <h3>Room Types</h3>
            <div *ngFor="let type of dorm.room_types">
                <p>{{ type }}: ✅</p>
            </div>
        </div>
        <div class="bg-grey rooms shadow">
            <h3>Included</h3>
            <p>A/C</p>
            <p>Laundry Machines</p>
            <p>Ethernet</p>
        </div>
        <div class="bg-grey rooms shadow">
            <h3>Dining Hall:</h3>
            <h3>{{ dorm['dining_hall'] }}</h3>
        </div>
    </div>
    <hr>
    <div class="reviews p-3">
        <div class="m-1">
            <div class="no-b d-flex flex-column">
                <div class="w-50 p-3">
                    <h2 class="display-7">Reviews: ⭐ {{ getAverageRating() }}</h2>
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <article class="d-flex justify-content-center"></article>
                    <span></span>
                </div>
            </div>
            <div class="d-flex flex-column p-3">
                <div class="d-flex flex-column p-1 w-75 gap-2">
                    <div class="form-group">
                        <label class="h6">Review: </label>
                        <textarea maxlength="200" class="form-control" [(ngModel)]="currentReview" rows="8"></textarea>
                    </div>
                    <div class="form-group d-flex gap-2">
                        <label class="mt-2 h6">Stars: </label>
                        <select class="form-control w-5" [(ngModel)]="currentStars">
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary px-4" (click)="submitReview()" [disabled]="!auth.googleIsLoggedIn()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="no-b d-flex flex-column align-items-lg-start align-items-center">
            <li *ngFor="let review of dorm.reviews" class="w-100 border border-dark p-3 mt-5 w-75 rounded shadow py-4">
                <div class="d-flex w-100">
                    <app-upvotes [reviews]="review" [dorm_name]="dorm.name.common"></app-upvotes>
                    <div class="w-100">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="h3">{{ review.user }}:</p>
                            <p class="h3">⭐ {{ review.stars }}</p>
                        </div>
                        <p class="text">{{ review.msg }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>