<div *ngIf="dorm != null" class="">
    <h1 class="text-center mt-4 display-4">{{ dorm.name.official }}</h1>
    <div class="slideshow d-flex justify-content-center mt-5 mb-4">
        <div class="fade" [ngStyle]="{ 'display': slides[0] }">
            <img [src]="img[0]" class="slides shadow">
        </div>
        <div class="fade" [ngStyle]="{ 'display': slides[1] }">
            <img [src]="img[1]" class="slides shadow">
        </div>
    </div>

    <div class="d-flex d-flex flex-column flex-lg-row justify-content-around gap-3">
        <div class="bg-grey rooms shadow">
            <h3>Room Types</h3>
            <div *ngFor="let type of dorm.room_types">
                <p>{{ type }}: ✅</p>
            </div>
        </div>
        <div class="bg-grey rooms shadow">
            <h3>Included</h3>
            <p>A/C</p>
            <p>Laundry Machines</p>
            <p>Ethernet</p>
        </div>
        <div class="bg-grey rooms shadow">
            <h3>Dining Hall:</h3>
            <h3>{{ dorm['dining_hall'] }}</h3>
        </div>
    </div>
    <hr>
    <div class="reviews p-2">
        <div class="no-b d-flex flex-column align-items-center">
            <div class="w-75 p-3">
                <h2 class="display-7 text-center">Reviews: ⭐ {{ getAverageRating() }}</h2>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center w-50 gap-2">
                <textarea [(ngModel)]="currentReview"></textarea>
                <div><input type="number" [(ngModel)]="currentStars" /></div>
                <div><button (click)="submitReview()" [disabled]="!auth.googleIsLoggedIn()">Submit</button></div>
            </div>
        </div>
        <ul class="no-b d-flex flex-column align-items-center">
            <li *ngFor="let review of dorm.reviews" class="border border-dark p-3 mt-5 w-75 rounded shadow py-4">
                <div class="d-flex justify-content-between">
                    <p class="h3">{{ review.user }}:</p>
                    <p class="h3">⭐ {{ review.stars }}</p>
                </div>
                <p class="text">{{ review.msg }}</p>
            </li>
        </ul>
    </div>
</div>