.slideshow {
    width: 100%;
    min-height: 45vh;
    height: fit-content;

    
}

.slides {
    width: 32vw;
    max-height: 45vh;
}

.fade {
    animation: fade 5s linear forwards;
}

@keyframes fade {
    from {
        opacity: .75;
      }
      to {
        opacity: 1;
      }
}

.bg-grey {
    background-color: lightgray;
}

.rooms {
    text-align: center;
    width: 15vw;
}

.no-b {
    list-style-type: none;
}

.text {
    font-size: 18px;
}
/*
#slideshow {
    overflow: hidden;
    min-height: 45vh;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
  }
   
  .slide {
    float: left;
    height: fit-content;
    width: 100%;
  }
   
  .slide-wrapper {

    width: calc(100% * 4);

    animation: slide 10s ease infinite;
  }
   
  .slide:nth-child(n) {
    background: transparent;
  }
  
   

  @keyframes slide {
     
    50% {
      margin-left: 0px;
    }
   
    100% {
      margin-left: 100%;
    }
  }
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
*/