<ul id="dorms" class="p-2">
    <li *ngFor="let dorm of dorms" class="pointer">
        <div class="w-100 my-4 dorm d-flex justify-content-between" *ngIf="dorm.retrieved"
            (click)="navigate(dorm.name.common)">
            <div>
                <h5>{{ dorm.name.official }}</h5>
                <p>{{ dorm.name.common.charAt(0).toUpperCase() + dorm.name.common.slice(1) }}</p>
            </div>
            <p class="stars">⭐ {{ getAverageRating(dorm) }}</p>
        </div>
    </li>
</ul>